<div class="setup-hashtag-container">
    <div class="setup-content-wrapper">
        <h1>bla bla bla a simple hastag can change the party bla bla bla</h1>
        <login social-media="twitter"></login>
        <login social-media="instagram"></login>
        <login social-media="facebook"></login>
        <h2>Choose your</h2>
        <input 
            [(ngModel)]="hashtag"
            placeholder="#hashTag">
        <div class="cta-link">
            Let the show
            <button
                class="begin-button" 
                [routerLink]="['Blender']">
                begin
            </button>
        </div>
    </div>
</div>