.login-wrapper {
    display: inline-block;
    background-color: #3C444C;
    padding: 8px;
    border-radius: 4px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.media-icon {
    font-size: 50px;
    width: 50px;
}
.active-media {
    color: #5FA75F;
}
.login-button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: inline-block;
    line-height: 50px;
    vertical-align: text-bottom;
    cursor: pointer; cursor: hand;
}
.sign-icon {
    font-size: 24px;
    line-height: 40px;
}
.media-icon.loggedOut {
    color: #fff;
}
.media-icon.loggedIn {
    color: #5FA75F;
}
.login-button.loggedIn {
    background-color: #DC4343;
}
.login-button.loggedOut {
    background-color: #5FA75F;
}