:host {
    width: 100%;
    height: auto;
    border: 1px solid grey;
    background-color: white;
    padding: 4%;
}
.twitter-header {
    position: relative;
    margin-bottom: 4%;
}
.profile-picture {
    border-radius: 8%;
    width: 15%;
}
.twitter-username {
    display: inline-block;
    font-size: 4vw;
    top: 50%;
    position: absolute;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
}
.regular-username {
    font-weight: bold;
    color: #292F33;
}
.at-username {
    color: #8899A6;
}
.twitter-body {
    font-size: 5vw;
    color: #292F33;
}